.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/bg2.png) center (center/cover) no-repeat;
&__title{
    color: #FFF; 
    font-size: 36px;
    font-weight: 700;
    line-height: 54px; 
    text-transform: uppercase;
    text-align: left;
}
&__descr{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

}
