.pluses{
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;
    
    &__second{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    &__top{
        color: #0D0D0D;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        text-align: center;
        

    }
    &__header{
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        
  
    }
    &__subheader{
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-top: 20px;
        a{
            color: #F00;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            text-decoration-line: underline;
        }

    }
}