.reviews{
    padding-bottom: 100px;
    
.title{
    color: #0D0D0D;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
      
}
&__human{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-height: 277px;
}
&__name{
    color: #0D0D0D;
    font-size: 18px;
    font-weight: 700;
}
&__years{
    color: #646464;
    font-size: 14px;
    font-weight: 500;
}
&__descr{
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; 
}
&__text{
    min-width: 629px;
}
}